[submodule "mock/examples/CSHL_ProtocolStudy-Data"]
	path = mock/examples/CSHL_ProtocolStudy-Data
	url = https://github.com/lambda-land/ProtocolStudy-Data
[submodule "mock/examples/kunkel-app"]
	path = mock/examples/kunkel-app
	url = https://github.com/dacarlin/kunkel-app
[submodule "mock/examples/transcriptic101"]
	path = mock/examples/transcriptic101
	url = https://github.com/scottbecker/transcriptic101
[submodule "projects/nextjs-blueprint"]
	path = projects/nextjs-blueprint
	url = https://github.com/mxs/starterpack-nextjs
