type: "MARKDOWN_NOTE"
folder: "d4855edc37196573049e"
title: "notebook data structures"
content: '''
  # notebook data structures
  
  ### examples
  - https://github.com/JoelOtter/kajero
  - https://github.com/rubybrowncoat/react-draft-js-block-editor/tree/v1.0.3
  
  
  ## Kajero
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-17T21:01:46.158Z"
updatedAt: "2017-10-17T22:25:29.876Z"
