createdAt: "2018-05-10T04:26:27.969Z"
updatedAt: "2018-05-10T04:33:28.852Z"
type: "MARKDOWN_NOTE"
folder: "d4855edc37196573049e"
title: "2018-05-09 datalore.io (JetBrains); jupyter dataflow kernel; editorsnotes.org semantic notebook"
content: '''
  # 2018-05-09 datalore.io (JetBrains); jupyter dataflow kernel; editorsnotes.org semantic notebook
  
  ## datalore.io
  
  ![datalore.io_(8x11).png](/:storage/0.ppwbkog4baa.png)
  
  ---
  
  ## jupyter dataflow kernel
  ![jupyter dataflow Supporting Reproducibility in Jupyter through Dataflows - David Koop.png](/:storage/0.kegcwl7y6ra.png)
  
'''
tags: []
isStarred: false
isTrashed: false
